node_modules/
dist/
bin/server
/*-audit.json
package-lock.json
yarn.lock
build/*
lib/*
!lib/readme.md
yarn.lock

.env*
config/*
!config/reactory/.env.sample
!config/reactory/.dockerignore
!config/reactory/Dockerfile
!config/reactory/pm2.sample.config.js
!config/README.MD

src/modules/*
!src/modules/generate_index.ts
!src/modules/reactory-core
!src/modules/index.ts
!src/modules/README.md
!src/modules/available.json
!src/modules/helpers

src/workflow/.sample_env


src/data/clientConfigs/**
!src/data/clientConfigs/helpers**
!src/data/clientConfigs/reactory/**
!src/data/clientConfigs/index.ts
!src/data/clientConfigs/readme.md


target/

.DS_Store
certificates/*.pem
certificates/*.key
certificates/*.csr
certificates/*.crt
!certificates/readme.md

coverage/*
