node_modules/
dist/
/*-audit.json
package-lock.json
build/*
lib/*
yarn.lock

config/*
!config/reactory/.env.sample
!config/reactory/pm2.sample.config.js
!config/README.MD

src/modules/*
!src/modules/generate_index.ts
!src/modules/core
!src/modules/index.ts
!src/modules/README.md
!src/modules/available.json
!src/modules/helpers

src/workflow/.sample_env

src/data/*
!src/data/index.ts
!src/data/clientConfigs/helpers/
!src/data/readme.md
!src/data/clientConfigs/reactory/index.ts
!src/data/clientConfigs/readme.md
!src/data/emoji
!src/data/forms
!src/data/clients.ts