<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>401 Unauthorized</title>
  </head>
  <header>
      <h1>401 Unauthorized</h1>
  </header>
  <body>
    <p><%= typeof message !== 'undefined' ? message : 'Unauthorized request. Please authenticate before trying to access this resource.' %></p>
  </body>
  <footer>
      <p>Powered by Reactory</p>
  </footer>
</html>