<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>404 Not Found</title>
  </head>
  <header>
      <h1>404 Not Found</h1>
  </header>
  <body>
      <p>Sorry, the resource you are looking for cannot be found.</p>
  </body>
  <footer>
      <p>Powered by Reactory</p>
  </footer>
</html>