<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>500 Server Error</title>
  </head>
  <header>
      <h1>500 Server Error</h1>
  </header>
  <body>
      <p>Server encountered an error</p>
  </body>
  <footer>
      <p>Powered by Reactory</p>
  </footer>
</html>