<div>
  <p>Hi, <%= firstName %></p>
  <p>You have requested a password reset for <%= applicationTitle %>.</p>
  <p>Below is a reset password link that you can use to reset your password</p>
  <p><a href="<%= resetLink %>">Reset Password</a></p>
</div>