<h2 style="font-style:italic;">Welcome to &lt;%= applicationTitle %&gt;.</h2>

<p>Please take a moment to complete your registration by clicking on the link below</p>

<p>&lt;%= activationLink %&gt;</p>

<p>&nbsp;</p>
